/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  text-align: center;
}

/* sezione inizio pagina */
header {
  background-color: #194681;
  padding: 50px 200px 0 150px;
}

#colonna-logo {
  padding-top: 100px;
}

#colonna-logo h2 {
  font-size: 40px;
  font-weight: lighter;
  padding-top: 20px;
  color: white;
}

#colonna-logo p {
  font-size: 25px;
  padding: 20px 0;
  color: #7393c1;
  line-height: 1.5;
}

#link-mac {
  padding-top: 10px;
}

#link-mac a {
  color: #7393c1;
  text-decoration: none;
  padding-left: 5px;
}

#link-mac i {
  font-size: 50px;
}

#link-mac span {
  vertical-align: super;
  padding-left: 5px;
}

#immagine-watch {
  transform: translateY(30px);
}


/* regole comuni sezioni */
#prima-sezione p, #seconda-sezione p, #terza-sezione p {
  font-size: 20px;
}

#prima-sezione p, #terza-sezione p {
  color: #9ba6b7;
}

#prima-sezione h2, #seconda-sezione h2, #terza-sezione h2 {
  font-size: 40px;
}

/* prima sezione */
#prima-sezione {
  padding-top: 100px;
  background-color: #F6F7F8;
  padding-bottom: 50px;
}

#prima-sezione h2 {
  font-weight: lighter;
  padding-bottom: 40px;
}

#prima-sezione p {
  padding-bottom: 20px;
}

#prima-sezione img {
  width: 370px;
}

#prima-sezione .col-lg-4:first-child {
  padding-top: 140px;
  padding-right: 20px;
  text-align: right;
}

#prima-sezione .col-lg-4:nth-child(3) {
  padding-top: 190px;
  padding-left: 18px;
  text-align: left;
}

#prima-sezione h3 {
  padding-bottom: 15px;
  color: #274daf;
  font-size: 22px;
}

/* seconda sezione */
#seconda-sezione {
  background-color: #2A4B77;
}

#seconda-sezione img {
  border-radius: 5px;
}

#seconda-sezione h2 {
  padding-top: 50px;
  font-weight: lighter;
}

#seconda-sezione h2, #seconda-sezione h3 {
  color: white;
}

#seconda-sezione p {
  color: #7393c1;
}

#seconda-sezione .col-lg-6 p {
  padding: 30px 0 50px 0;
}

#seconda-sezione h3 {
  padding-top: 35px;
  font-size: 25px;
  font-weight: lighter;
}

#colonne p {
  padding: 20px;
  font-size: 18px;
}

#colonne {
  padding-bottom: 40px;
}

/* terza sezione */

#terza-sezione {
  background-color: #F6F7F8;
}

#terza-sezione h2 {
  font-weight: lighter;
  padding: 40px 0;
}

#terza-sezione p {
  padding-bottom: 30px;
}

#terza-sezione img {
  border-radius: 5px;
}

#immagini-calendario {
  padding-bottom: 50px;
}

/* footer */

footer {
  background-color: #113462;
  padding: 50px 130px;
}

footer h5 {
  color: #7393c1;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: lighter;
}

footer ul li {
  list-style-type: none;
  padding-bottom: 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}


/* versione smarphone */

@media screen and (max-width: 768px) {

  /* header */

  header {
    padding: 10px 10px 0 10px;
  }

  #colonna-logo {
    padding-top: 0px;
    text-align: center;
  }

  #colonna-logo img {
    width: 120px;
  }

  #colonna-logo p {
    font-size: 16px;
  }

  #colonna-logo h2 {
    font-size: 27px;
  }

  #link-mac {
  padding-top: 0;
  }

  #link-mac div {
    padding-bottom: 20px;
  }

  #link-mac i {
    font-size: 25px;
  }

  #link-mac span {
    font-size: 13px;
  }

  #immagine-watch {
    width: 250px;
    transform: translateY(17px);
  }

  /* regole comuni sezioni */
  section {
    padding: 10px;
  }

  #prima-sezione p, #seconda-sezione p, #terza-sezione p {
    font-size: 14px;
  }

  #prima-sezione h2, #seconda-sezione h2, #terza-sezione h2 {
    font-size: 27px;
  }

  /* prima sezione */

  #prima-sezione {
    padding-top: 30px;
  }

  #prima-sezione h2 {
    font-size: 27px;
    padding-bottom: 20px;
  }

  #prima-sezione p {
    padding-bottom: 0;
  }

  #prima-sezione .col-lg-4:first-child {
    padding-top: 20px;
    padding-right: 0px;
    text-align: center;
  }

  #prima-sezione .col-lg-4:nth-child(3) {
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    text-align: center;
  }

  #prima-sezione .col-lg-4:nth-child(2) {
    text-align: center;
  }

  #prima-sezione h3 {
    padding-bottom: 10px;
    font-size: 15px;
  }

  #prima-sezione img {
    width: 300px;
  }

  /* seconda sezione */
  #seconda-sezione h2 {
    padding-top: 20px;
  }

  #seconda-sezione .col-lg-6 p {
    padding: 20px 0 30px 0;
  }

  #seconda-sezione img {
    width: 25%;
  }

  #seconda-sezione h3 {
    padding-top: 15px;
    font-size: 20px;
  }

  #colonne {
    padding-bottom: 0;
  }

  #colonne p {
    padding-bottom: 10px;
    padding-top: 5px;
  }

  /* terza sezione */

  #terza-sezione img {
    width: 25%;
    padding-bottom: 10px;
  }

  #terza-sezione h2 {
    padding: 15px 0;
  }

  #terza-sezione p {
    padding-bottom: 15px;
  }

  #immagini-calendario {
    padding-bottom: 0;
  }

  /* footer */
  footer {
    padding: 20px 50px;
  }

  footer h5 {
    padding-bottom: 10px;
    font-size: 12px;
  }

  footer h5:last-child {
    padding-top: 20px;
  }

  footer ul li a {
    font-size: 10px;
  }

}

/* versione tablet */
@media screen and (min-width: 769px) and (max-width:992px) {

  header {
    padding: 30px 30px 0 30px;
  }

  #colonna-logo {
    padding-top: 0px;
  }

  #colonna-logo img {
    width: 150px;
  }

  #colonna-logo h2 {
    font-size: 30px;
  }

  #colonna-logo p {
    font-size: 18px;
    padding: 10px 0;
  }

  #link-mac {
  padding-bottom: 0px;
  }

  #link-mac i {
    font-size: 35px;
  }

  #link-mac span {
    font-size: 15px;
  }

  #link-mac div {
    padding-bottom: 15px;
  }

  #immagine-watch {
    width: 300px;
    transform: translateY(20px);
  }

  /* sezioni regole comuni */
  #prima-sezione h2, #seconda-sezione h2, #terza-sezione h2 {
    font-size: 30px;
  }

  #prima-sezione p, #seconda-sezione p, #terza-sezione p {
    font-size: 17px;
  }

  /* prima sezione */

  #prima-sezione {
    padding-top: 50px;
  }

  #prima-sezione h2 {
    padding-bottom: 20px;
  }

  #prima-sezione p {
    padding-bottom: 0;
  }

  #prima-sezione img {
    width: 270px;
  }

  #prima-sezione h3 {
    padding-bottom: 10px;
    font-size: 20px;
  }

  #prima-sezione .col-lg-4:first-child {
    padding-top: 100px;
    padding-right: 0px;
  }

  #prima-sezione .col-lg-4:nth-child(3) {
    padding-top: 150px;
    padding-left: 0px;
  }

  /* seconda sezione */
  #seconda-sezione h2 {
    padding-top: 30px;
  }

  #seconda-sezione .col-lg-6 p {
    padding: 20px 0 30px 0;
  }

  #seconda-sezione img {
    width: 75%;
  }

  #seconda-sezione h3 {
    padding-top: 20px;
    font-size: 20px;
  }

  #colonne {
    padding-bottom: 0px;
  }

  /* terza sezione */
  #terza-sezione h2 {
    padding: 25px 0;
  }

  #terza-sezione img {
    width: 60%;
  }

  /* footer */
  footer {
    padding: 40px 80px;
  }

  footer h5 {
    font-size: 15px;
  }

  footer ul li a {
    font-size: 13px;
  }

}
