/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole debug */
header {
  background-color: yellow;
  height: 200px;
}
section {
  border: solid 1px black;
  background-color: brown;
  min-height: 200px;
}
footer {
  background-color: blue;
  min-height: 100px;
}

[class*="col-"] {
  border: solid 1px black;
  height: 200px;
}
